alias ctags="`brew --prefix`/bin/ctags"

# Docker
alias dps="docker ps"
alias drm="docker rm"
alias dstop="docker stop"
alias dlogs="docker logs -f"

# Ruby
alias brails="bundle exec rails"
alias brake="bundle exec rake"
alias bexec="bundle exec"

# Elixir
alias iexm="iex -S mix"

# Python
alias prun="pipenv run"

alias untar="tar -xvzf"

alias pg_start="pg_ctl -D /usr/local/var/postgres start"
alias pg_stop="pg_ctl -D /usr/local/var/postgres stop"
